@import "tailwindcss";

body {
  font-family: "Poppins", sans-serif;
  background-color: #1a1a1a;
  color: white;
}

/* Header Styles */
header nav.desktop-menu {
  display: none;
}
@media (min-width: 600px) {
  header nav.desktop-menu {
    display: flex;
  }
}

/* Swiper Card Styles*/
.card {
  padding: 1.5rem;
  border-radius: 0.5rem;
  background-color: #2d2d2d;
  transition: background-color 0.3s ease;
}

.card:hover {
  background-color: rgb(202, 219, 73);
  cursor: pointer;
  color: black;
}

.card:hover h3,
.card:hover p,
.card:hover a {
  color: black;
}
